<mat-card>
      <mat-card-title>
          Dylan's Square Root Component
      </mat-card-title>
      <mat-card-content>
          √ &nbsp; of &nbsp; 
          <mat-form-field>
            <input 
                matInput 
                type="number" 
                [(ngModel)]='numberToSquare'
                placeholder="Number to Square">
          </mat-form-field>
          <button mat-raised-button (click)='squareNumber()'>=</button>
          &nbsp;
          {{ answer }}
        </mat-card-content>
</mat-card>
